
.list-group {
    display: flex;
    flex-direction: column; /* Вертикальное направление */
    padding-left: 0;
    margin: 0;
    list-style: none; /* Убираем маркеры списка */
}

.list-group-item {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: teal;
    /*border: 1px solid rgba(0, 0, 0, 0.125); /* Лёгкая граница */
    background-color: #fff;
    font-size: 1rem;
    text-align: center; /* Центрируем текст */
    width: 100%; /* Элемент занимает всю ширину контейнера */
    box-sizing: border-box; /* Учитываем границы и отступы */
}

.list-group-item.active {
    color: #fff;
    /*border-color: #FF7F50;*/
    background-color: PaleVioletRed  ; /* teal #FF7F50 MediumPurple  DeepSkyBlue */
}

 /* ------------- Анимация при наведении на элементы */
.list-group-item:hover,
.list-group-item:focus {
    z-index: 1;
    text-decoration: none;
    color: #fff  ; /* Цвет текста при наведении #FF7F50 */
    background-color: PaleVioletRed  ; /* Цвет фона при наведении  MediumPurple #FF7F50 rebeccapurple DarkCyan */
}



.list-group-item-action {
    width: 100%;
    text-align: inherit;
    color: #fff ; /* #495057 MediumPurple  */
}