.search-form {
    display: flex;
    flex-direction: row;
    align-items: center; /* Центрирование содержимого по вертикали */
    justify-content: center; /* Центрирование содержимого по горизонтали */

    height: 80%; /* Фиксируем высоту  28px 32px  400px */
    width: 90%;
}

.input-decoration {
    font-size: 1rem;
    padding: .375em .75em; /*  2px 4px;  /* vertical | horizontal */
    width: 90%;
    color: teal;
    border: 1px solid #008B8B;
    border-radius: .25em;
    background-color: #fff;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    appearance: none;
}

.input-decoration:focus {
    outline: none;
    border-color: PaleVioletRed;
    box-shadow: 0 0 0 0.2em rgba(219, 112, 147, 0.25);
}



.btn {
    font-size: 1rem;
    padding: .375rem .75rem; /*  2px 4px;  /* vertical | horizontal */
    cursor: pointer;
    color: #fff;
    background-color: #008B8B;
    /* border: 1px solid  #E6E6FA;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;

    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;

    border-top-color: #E6E6FA;
    border-right-color: #E6E6FA;
    border-bottom-color: #E6E6FA;  */

    border-radius: .25rem;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
    text-align: center;
}

.btn:hover {
    background-color: PaleVioletRed;
    border-color: PaleVioletRed;
}


/*  input-decoration */
