main {
    flex: 2.8; /* Центральный контент */
    display: block;
    height: stretch;
    margin: 0px 2px 0 2px;
    /* background-color: #FF7F50; border:  1px solid black; SlateGray rgb(238 238 252) */


}

.column-header-main {
    display: flex;
    flex-direction: row;

    /* top | right | bottom | left */
    margin: 2px 4px;

    border-bottom: 2px solid #008B8B;
    border-top: 2px solid #008B8B;

    height: 60px; /* Фиксируем высоту */
    width: auto;
    align-items: right; /* Центрирование содержимого по вертикали */
    justify-content: center; /* Центрирование содержимого по горизонтали
     background-color: #008B8B; border: 1px solid black; */


}