footer {
    background: teal;
    height: 40px;
    margin: 2px 0; /* top | right | bottom | left */

  	color: #dbdbdb;
  	font-size: 10px;
    padding: 10px 10px;


}


.footer-group {
border: 1px solid black;

}



/* border: 1px solid black;

*/
