
.top-nav-container {
    display: flex;
    flex-direction: row;

    /* top | right | bottom | left */
    margin: 2px 0px 2px 0px;
    background-color: #008B8B;
    /* border: 1px solid black;  */
    height: 32px; /* Фиксируем высоту */
    font-size: 0px; /* Размер текста */
    /*align-items: stretch; /* Выравниваем содержимое по вертикали */
   /* width: auto;*/
    /* box-sizing: border-box; Включаем отступы внутрь элемента */

}

.top-nav-left-path { /* Правая часть шапки */
    /* border: 1px solid black; */
    flex: 0.5;
    display: flex;
    align-items: center; /* Центрирование содержимого по вертикали */
    justify-content: center; /* Центрирование содержимого по горизонтали */


}

.top-nav-center-path { /* Правая часть шапки */
      /* border: 1px solid black; */
    flex: 1;
    display: flex;
    align-items: center; /* Центрирование содержимого по вертикали */
    justify-content: center; /* Центрирование содержимого по горизонтали */

}

.top-nav-right-path { /* Правая часть шапки */
    flex: 0.5;
    display: flex;
    justify-content: center; /* Центрирование содержимого по горизонтали */
    align-items: center; /* Центрирование содержимого по вертикали */
}