@import url('pagination_min.css');
@import url('searcher.css');
@import url('top_navigation.css');
@import url('left_navigation.css');
@import url('list-group.css');
@import url('site-header.css');



.main_container {
    box-sizing: border-box; /* Включаем отступы внутрь элемента */
    max-width: 100%; /* Максимальная ширина */
    margin: 0 auto;     /* Центрирование */
    padding: 0px;     /* Внутренние отступы */
    background-color: #B0C4DE; /* #6A5ACD #9370DB #B0C4DE*/
    /* border: 1px solid black;  */
}

/* Главный контейнер тела страницы (без шапки, навигатора и подвала) */
.main-body-container {
    display: flex;
    flex-direction: row;
    background-color: #E6E6FA;  /* #6A5ACD #9370DB #B0C4DE  #FF7F50 */
    border:  1px solid black;
}

main {
    flex: 2; /* Центральный контент */
    border: 1px solid black;
}

aside {
    flex: 1; /* Правая панель */
    border: 1px solid black;
}


/*======================================================================================== */