@import url('./carcass/site_header.css');
@import url('./carcass/top_navigation.css');
@import url('./carcass/content_header.css');

@import url('./carcass/left_navigation.css');


@import url('./carcass/site_container.css');
@import url('./carcass/main_container.css');
@import url('./carcass/aside.css');
@import url('./carcass/footer.css');

@import url('./elements/registration_forms.css');
@import url('./elements/pagination_min.css');
@import url('./elements/searcher.css');
@import url('./elements/list-group.css');



/* Растягиваем  страницу до низу*/
html,
body {
    display: block;
	/* top | right | bottom | left */
    margin: 0px;
    height: 100%;
}

/* Главный контейнер тела страницы (без шапки, навигатора и подвала) */
.content {
    background-color: #E6E6FA;  /* #6A5ACD #9370DB #B0C4DE  #FF7F50 */
   /* border-top: 3px solid rgb(106 118 134);
    border-bottom: 2px solid rgb(106 118 134);
    border-left: 2px solid rgb(106 118 134);
    border-right: 2px solid rgb(106 118 134);*/

    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: auto;

}







/* =====================================
* {
	margin: 0;
	padding: 0;
}
    /*border:  1px solid black;
    border: 0 0 2px 0 solid black;
    border:  1px solid black;

     background-image: linear-gradient(#6EE2F5, #6454F0);
*/

