/* Навигация по страницам --------------------------------------- */
.pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:  flex;
    padding-left: 0;
    list-style: none;
}

.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}

.page-link {
    padding: .375rem .75rem;
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
}

.page-link {
    position: relative;
    display: block;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-decoration: none;
    color: #0d6efd;
    border: 1px solid #dee2e6;
    background-color: #fff;
}

@media (prefers-reduced-motion: reduce)
{
    .page-link
    {
        -webkit-transition: none;
                transition: none;
    }
}

.page-link:hover
{
    z-index: 2;

    color: #0a58ca;
    border-color: #dee2e6;
    background-color: #e9ecef;
}

.page-link:focus
{
    z-index: 3;

    color: #0a58ca;
    outline: 0;
    background-color: #e9ecef;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.page-item:not(:first-child) .page-link
{
    margin-left: -1px;
}

.page-item.active .page-link
{
    z-index: 3;

    color: #fff;
    border-color: #0d6efd;
    background-color: #0d6efd;
}

.page-item.disabled .page-link
{
    pointer-events: none;

    color: #6c757d;
    border-color: #dee2e6;
    background-color: #fff;
}

.page-link
{
    padding: .375rem .75rem;
}

.page-item:first-child .page-link
{
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.page-item:last-child .page-link
{
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.pagination-lg .page-link
{
    font-size: 1.25rem;

    padding: .75rem 1.5rem;
}

.pagination-lg .page-item:first-child .page-link
{
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

.pagination-lg .page-item:last-child .page-link
{
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

.pagination-sm .page-link
{
    font-size: .875rem;

    padding: .25rem .5rem;
}

.pagination-sm .page-item:first-child .page-link
{
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
}

.pagination-sm .page-item:last-child .page-link
{
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
}

.badge
{
    font-size: .75em;
    font-weight: 700;
    line-height: 1;

    display: inline-block;

    padding: .35em .65em;

    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;

    color: #fff;
    border-radius: .25rem;
}

.badge:empty
{
    display: none;
}

.btn .badge
{
    position: relative;
    top: -1px;
}

.alert
{
    position: relative;

    margin-bottom: 1rem;
    padding: 1rem 1rem;

    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-heading
{
    color: inherit;
}

.alert-link
{
    font-weight: 700;
}

.alert-dismissible
{
    padding-right: 3rem;
}

.alert-dismissible .btn-close
{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;

    padding: 1.25rem 1rem;
}

.alert-primary
{
    color: #084298;
    border-color: #b6d4fe;
    background-color: #cfe2ff;
}

.alert-primary .alert-link
{
    color: #06357a;
}

.alert-secondary
{
    color: #41464b;
    border-color: #d3d6d8;
    background-color: #e2e3e5;
}

.alert-secondary .alert-link
{
    color: #34383c;
}

.alert-success
{
    color: #0f5132;
    border-color: #badbcc;
    background-color: #d1e7dd;
}

.alert-success .alert-link
{
    color: #0c4128;
}

.alert-info
{
    color: #055160;
    border-color: #b6effb;
    background-color: #cff4fc;
}

.alert-info .alert-link
{
    color: #04414d;
}

.alert-warning
{
    color: #664d03;
    border-color: #ffecb5;
    background-color: #fff3cd;
}

.alert-warning .alert-link
{
    color: #523e02;
}

.alert-danger
{
    color: #842029;
    border-color: #f5c2c7;
    background-color: #f8d7da;
}

.alert-danger .alert-link
{
    color: #6a1a21;
}

.alert-light
{
    color: #636464;
    border-color: #fdfdfe;
    background-color: #fefefe;
}

.alert-light .alert-link
{
    color: #4f5050;
}

.alert-dark
{
    color: #141619;
    border-color: #bcbebf;
    background-color: #d3d3d4;
}

.alert-dark .alert-link
{
    color: #101214;
}



/* --------------------------------------- */